.home-face-image {
  height: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  animation: test 5s infinite;
  transition: 1s;
}

.home-footer {
  text-align: center;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  color: #e4e3e3c0;
}

.home-icons {
  text-align: center;
}

.face-image {
  padding: 0 0 0.5rem 0;
}

.my-face-image {
  width: 200px;
}

.icons {
  display: inline-block;
  margin: 1rem;
  width: 45px;
  height: 45px;
  transition: 0.5s;
}

.icons:hover {
  width: 40px;
  height: 40px;
}

.header {
  display: flex;
  margin: 2rem;
  justify-content: space-between;
}

.header-links {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}
.header-links li {
  margin-left: 1rem;
}

.header-a {
  text-decoration: none;
  /* color: #e4e3e3c0; */
  color: #31708e;
  font-size: 1.8rem;
  transition: transform 0.2s ease-in-out;
  display: inline-block;
}

.header-a:hover {
  transform: scale(1);
  -webkit-mask-image: linear-gradient(
    -75deg,
    #00000099 30%,
    #000 50%,
    #00000099 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

.home-body {
  margin: 5rem 2rem 2rem 2rem;
  display: flex;
  justify-content: space-between;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

#under-construction {
  margin: 1rem 0 0 0;
  color: #687864;
}

.home-button {
  outline: none;
  font-size: 1rem;
  border: none;
  transition: ease-in-out 0.5s;
  color: #b3cbb9;
  background-color: transparent;
}

.home-button:hover {
  cursor: pointer;
  color: #b3cbb9;
  transform: scale(1.2);
  opacity: 0.8;
}

.myface-button {
  background-color: transparent;
  border: none;
  outline: none;
  transition: ease-in-out 0.8s;
}

.myface-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
}

.toggle-text {
  font-size: 5rem;
  color: #443742;
}

.split-container {
  margin: 0 0 3rem 0;
}

.home-icons-contatiner {
  text-align: center;
}
