.work-header{
  text-align: center;
  text-decoration: none;
  font-size: 3rem;
}

.work-title{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.work-image-container {
  margin: 1rem;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 200px); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* justify-content: center;   */
  text-align: center;
  grid-gap: 2rem;
  /* margin: 3rem; */
}

.work-image-container p{
  font-family: 'Raleway', sans-serif;

}

.work-projects{
  width: 350px;
  height: 200px;
  /* border: 3px solid #9aaec0; */
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

/* .work-projects:hover{
  width:100%;
  background-color:#000;
  opacity:0.5;
} */

.work-github img{
  border: none;
  width: 50px;
}

.work-github img:hover{
  opacity:0.5;
}

/* ---------------------------- */
/* 
.card{
  position: relative;
  cursor: pointer;
  width: 500px;
  height: 300px;
} 

.front img{
   border-radius: 30px;
}

.back-content-middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.front,.back{
  position: absolute;
  width: 100%;
  width: 500px;
  height: 300px;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform .6s linear;
}

.front img{
  height: 100%;
}

.front {
  transform: perspective(600px) rotateY(0deg);
}

.back{
  background: white;
  transform: perspective(600px) rotateY(180deg);
}

.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
} */