.work-header{
  text-align: center;
  text-decoration: none;
  font-size: 3rem;
}

.work-title{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.work-image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  justify-content: center;  
  text-align: center;
  grid-gap: 5rem;
  margin: 3rem;
}

.work-image-container p{
  font-family: 'Raleway', sans-serif;
}

.work-projects{
  width: 500px;
  height: 300px;
  border: 3px solid #9aaec0;
  cursor: pointer;
  border-radius: 30px;
}

.work-projects:hover{
  width:100%;
  background-color:#000;
  opacity:0.5;
}

.work-github img{
  border: none;
  width: 50px;
}

.work-github img:hover{
  opacity:0.5;
}

