body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.each-letter-lrg{
  transition: 1s;
  user-select: none;
  font-family: 'Megrim', cursive;
}

.each-letter-lrg:hover {
  transition: color 0s;
  color:green;
  font-size: 3.3rem;
}

.each-letter-lrg:nth-child(1n):hover{
  color: #84DCC6;
}

.each-letter-lrg:nth-child(2n):hover{
  color: #3f4f94;
}

.each-letter-lrg:nth-child(3n):hover{
  color: #FFA69E;
}


.each-letter-sml{
  transition: 1s;
}

.each-letter-sml:hover {
  transition: color 0s;
  color:green;
  font-size: 2rem;
}

.each-letter-sml:nth-child(1n):hover{
  color: #84DCC6;
}

.each-letter-sml:nth-child(2n):hover{
  color: #3f4f94;
}

.each-letter-sml:nth-child(3n):hover{
  color: #FFA69E;
}
